# 파이썬 - 주식 종목 코드 MySQL 저장

## 참고사이트

- https://kang-stock-coding.tistory.com/19
- https://www.dataquest.io/blog/sql-insert-tutorial/

## 데이터 불러오기

In [1]:
import pandas as pd

In [9]:
df = pd.read_html('https://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
df_stock = df[['종목코드', '회사명']]

In [11]:
df_stock.head(10)

     종목코드     회사명
0     210      DL
1    4840   DRB동일
2  155660     DSR
3   78930      GS
4   11200     HMM
5   92220     KEC
6   16380  KG동부제철
7    1390   KG케미칼
8   25000  KPX케미칼
9   58860    KTis

## MySQL 연결

In [13]:
# pip install mysqlclient

In [14]:
import MySQLdb

In [21]:
connection = MySQLdb.connect(
    host="localhost",
    user="root", 
    passwd="1234", 
    db="stock_simulator"
)

connection.set_character_set('utf8')

curosr = connection.cursor()

## MySQL 저장 (SQL문 실행)

## MySQL 연결 헤제

In [22]:
connection.close()